.countdown
	.countdown-items
		.countdown-items__item
			p 149
			span.lead Days
		.countdown-items__item
			p 149
			span.lead Hours
		.countdown-items__item
			p 149
			span.lead Minutes
		.countdown-items__item
			p 149
			span.lead Seconds

.countdown-baner
	h2 Lorem ipsum
	p Chicago, Illinois
	p May 15-17, 2014

	.social-button.google
	.social-button.twitter
	.social-button.facebook