.container
	.countdown
		.countdown__item
			h3 138
			p Days
		.countdown__item
			h3 13
			p Hours
		.countdown__item
			h3 10
			p Minutes
		.countdown__item
			h3 34
			p Seconds

	.count-baner
		h3 Coach Conference
		p Chicago, Illinois
		p May 15-17, 2014

		.buttons
			.social-button 
				i.fa.fa-google-plus
			.social-button
				i.fa.fa-twitter
			.social-button
				i.fa.fa-facebook-official