footer
	p 
		a
			i.fa.fa-twitter
		a
			i.fa.fa-facebook
		a
			i.fa.fa-vk
		a
			i.fa.fa-google-plus
		a
			i.fa.fa-skype
		a
			i.fa.fa-linkedin
		a
			i.fa.fa-xing
		a
			i.fa.fa-youtube
		a
			i.fa.fa-envelope

	p.rights All rights reserved