._container
	._logo
		a(href="/")
			img(src="images/logo.png")

	._menu-toggle-button

	._navbar
		ul
			li
				a(href="/").active Home
			li
				a(href="/") Schedule
			li
				a(href="/") Home
			li
				a(href="/") Home
			li
				a(href="/") Home