.container
	.logo
		a(href="/")
			img(src="images/logo.png")

	.menu-toggle-button

	.navbar
		ul
			li
				a(href="/") Home
			li
				a(href="/") Schedule
			li
				a(href="/") Home
			li
				a(href="/") Home
			li
				a(href="/") Home