.container
	.thesis
		.icon-wrap
			i.fa.fa-futbol-o.fa-5x

		h3 Lorem
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis commodi quaerat laudantium voluptatum, eum facere illo reiciendis voluptate quidem.
	.thesis
		.icon-wrap
			i.fa.fa-heart.fa-5x

		h3 Lorem
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis commodi quaerat laudantium voluptatum, eum facere illo reiciendis voluptate quidem.
	.thesis
		.icon-wrap
			i.fa.fa-line-chart.fa-5x

		h3 Lorem
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis commodi quaerat laudantium voluptatum, eum facere illo reiciendis voluptate quidem.
	.thesis
		.icon-wrap
			i.fa.fa-pie-chart.fa-5x

		h3 Lorem
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis commodi quaerat laudantium voluptatum, eum facere illo reiciendis voluptate quidem.