.container
	.photo-banner
		h2 Lorem Photos
		h4 Lorem ipsum dolor sit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui earum sequi ratione, modi natus necessitatibus quos facilis quibusdam voluptates.
	.carousel-block