._container
	h2 Pricing Tables
	p.subHeader Lorem ipsum dolor sit amet.

	.p_table.basic
		h3 Basic
		p.price 24$
		ul
			li
				p One day success
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Coffee Break
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Seat
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Certificate
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Lorem
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Ipsum
				p.pull-right
					i.fa.fa-minus.fa-lg
			li
				p Dolor
				p.pull-right
					i.fa.fa-minus.fa-lg
	.p_table.standart
		h3 Basic
		p.price 24$
		ul
			li
				p One day success
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Coffee Break
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Seat
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Certificate
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Lorem
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Ipsum
				p.pull-right
					i.fa.fa-minus.fa-lg
			li
				p Dolor
				p.pull-right
					i.fa.fa-minus.fa-lg
	.p_table.advance
		h3 Basic
		p.price 24$
		ul
			li
				p One day success
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Coffee Break
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Seat
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Certificate
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Lorem
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Ipsum
				p.pull-right
					i.fa.fa-minus.fa-lg
			li
				p Dolor
				p.pull-right
					i.fa.fa-minus.fa-lg
	.p_table.professional
		h3 Basic
		p.price 24$
		ul
			li
				p One day success
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Coffee Break
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Seat
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Certificate
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Lorem
				p.pull-right
					i.fa.fa-check.fa-lg
			li
				p Ipsum
				p.pull-right
					i.fa.fa-minus.fa-lg
			li
				p Dolor
				p.pull-right
					i.fa.fa-minus.fa-lg