.container
	.promo-baner
		h1 Lorem ipsum dolor
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, magnam
		p Lorem ipsum dolor sit

	form.promo-form
		input(type="text" placeholder="Name")
		input(type="text" placeholder="Phone")
		select
			option
				
		input(type="text" placeholder="Name")