.container
	.promo-baner
		h1 
			i.fa.fa-signal
			|  Lorem ipsum dolor
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, magnam
		p.bold Lorem ipsum dolor sit

	form.promo-form
		input(type="text" placeholder="Name")
		input(type="text" placeholder="Email")
		input(type="text" placeholder="Phone")
		select
			option(disabled selected) Choose a plan
			option Lorem ipsum.
			option Lorem ipsum.
		button(type="submit") Register