.promo-banner
	.promo-banner__header
		h1 Business 
			b Event
	.promo-banner__body
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, rerum, consequatur. Debitis officiis, rerum cupiditate adipisci magni possimus, hic et.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

form.promo-form
	input(type="text" placeholder="Name")
	input(type="text" placeholder="Email")
	input(type="text" placeholder="Phone")
	select
		option(value disabled selected) Choose a plan
		option(value='basic') Basic-24$
		option(value='standart') Standart-40$
	button(type="submit") Register