._container
	h2 Schedule
	p.subHead Lorem ipsum dolor sit amet

	.tab-container
		.tabs
			a.tab.active Day 1
			a.tab Day 2
			a.tab Day 3

		.tab-panes
			.tab-pane.active
				.accordion
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am
			.tab-pane
				.accordion
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am
			.tab-pane
				.accordion
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am
					.panel-heading 10:00 am - 12:00 am