.container
	h2 Schedule
	p Lorem ipsum dolor sit amet

	.schedule-tabs
		ul
			li
				a(href="#tabs-1" title='') May, 15
			li
				a(href="#tabs-1" title='') May, 15
			li
				a(href="#tabs-1" title='') May, 15

		div#tabs_container
			#tabs-1
				p Lorem ipsum dolor sit amet.
			#tabs-2
				p Lorem ipsum dolor sit amet.
			#tabs-3
				p Lorem ipsum dolor sit amet.