.container
	.speakers-header
		h2 Speakers
		p Lorem ipsum dolor sit amet
	.speakers-body
		.spearer
			img(src="images/speakers/1.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.
		.spearer
			img(src="images/speakers/2.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.
		.spearer
			img(src="images/speakers/3.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.
		.spearer
			img(src="images/speakers/4.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.
		.spearer
			img(src="images/speakers/5.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.
		.spearer
			img(src="images/speakers/6.jpg", alt="")
			h3 Tyler Durden
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, officiis.