.container
	.video-content
		.video-container
			| <iframe width='560' height='315' src="https://www.youtube-nocookie.com/embed/x2mQmKHgjUI?rel=0" frameborder="0" allowfullscreen></iframe>
	.video-banner
		.video-banner__header
			h2 Video
			h4 Lorem ipsum
		.video-banner__body
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aliquid, illo nemo dolorem, omnis eos nisi iste molestias eius similique itaque obcaecati praesentium voluptates, nesciunt vitae. Rerum accusamus inventore at!
