<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Business Event
	link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700italic' rel='stylesheet' type='text/css')
	link(rel="stylesheet", type="text/css", href="styles/index.css")
	link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
body
	header
		nav
			include ./blocks/head_nav.jade
	.promo
		include ./blocks/promo.jade
	.counter
		include ./blocks/counter.jade
	.schedule
		include ./blocks/schedule.jade
	.video
		include ./blocks/video.jade
	.photos
		include ./blocks/photos.jade

	script(type="application/javascript", src="js/index.js")