<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Business Event
	link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700italic' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", type="text/css", href="styles/index.css")
body
	header
		.nav
			include ./blocks/head_nav.jade
	.promo
		include ./blocks/promo.jade
	.counter
		include ./blocks/counter.jade
	.schedule
		include ./blocks/schedule.jade
	.video
		include ./blocks/video.jade
	.photos
		include ./blocks/photos.jade
	.lorem-leader
		include ./blocks/lorem-leader.jade
	.speakers
		include ./blocks/speakers.jade
	.lorem-carousel
		include ./blocks/lorem-carousel.jade
	.pricing_tables
		include ./blocks/pricing_tables.jade

	script(type="application/javascript", src="js/index.js")