<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Business Event
	link(rel="stylesheet", type="text/css", href="styles/index.css")
body
	header
		nav
			include ./blocks/head_nav.jade
	.promo
		include ./blocks/promo.jade
	.counter
		include ./blocks/counter.jade