@import "kouto-swiss"
meyer-reset()

body
	font-family Helvetica, Arial, sans-serif
	z-index -99999999

@import './blocks/head_nav.styl'
@import './blocks/promo.styl'

.counter
	height 250px
	background-color #333