@import "kouto-swiss"
meyer-reset()

body
	font-family 'Lato', Helvetica, Arial, sans-serif

@import './blocks/head_nav.styl'
@import './blocks/promo.styl'
@import './blocks/counter.styl'
@import './blocks/schedule.styl'
@import './blocks/video.styl'
@import './blocks/photos.styl'
@import './blocks/lorem-leader.styl'
@import './blocks/speakers.styl'
@import './blocks/lorem-carousel.styl'
@import './blocks/pricing_tables.styl'
@import './blocks/map.styl'
@import './blocks/footer.styl'