@import "kouto-swiss"
meyer-reset()

body
	font-family 'Lato', Helvetica, Arial, sans-serif

@import './blocks/head_nav.styl'
@import './blocks/promo.styl'
@import './blocks/counter.styl'
@import './blocks/schedule.styl'
@import './blocks/video.styl'
@import './blocks/photos.styl'