@import 'kouto-swiss'

.counter
	.container
		gs('fluid', 12)
		col(12)
	.countdown
		.countdown__item
			col(6)
			margin-top em(40)
			h3
				font-size em(36)
				size 150px
				line-height 150px
				border-radius 50%
				border 1px solid #AFAFAF
				margin: 0 auto 15px;
				text-align center
				font-weight 200
			p
				text-align center
				font-size em(21)

	.count-baner
		col(12)
		text-align center
		margin-top em(20)
		h3
			font-size em(29)
			line-height 1.4

		p
			font-size em(16)
			text-transform uppercase
			line-height 1.2

		.buttons
			margin-top em(17)
			display inline-block
			margin 17 auto
			.social-button
				float left
				margin-right em(15)
				border-radius em(7)
				border 1px solid #E5E5E5
				cursor pointer
				padding em(15) em(20)
				font-size em(17)
				color #999999
			.social-button:hover
				background-color #eeeeee

+media-query( all, min-width 1200px )
	.counter
		.container
			gs('fluid', 12)
			col(10)
			offset(1)
		.countdown
			col(8)
			margin-top em(20)
			.countdown__item
				col(3)
		.count-baner
			col(4)
			padding em(45) 0
