@import 'kouto-swiss'

.counter
	.container
		gs('fluid', 12)
		col(12)
		.countdown
			.countdown__item
				col(12)
				margin-top em(40)
				h3
					font-size em(36)
					size 150px
					line-height 150px
					border-radius 50%
					border 1px solid #AFAFAF
					margin: 0 auto 15px;
					text-align center
					font-weight 200
				p
					text-align center
					font-size em(21)