footer
	background-color #555555
	padding em(20) 0 em(40)
	p
		text-align center
		a
			margin em(2)
			border 1px solid #fff
			border-radius 50%
			color #fff
			cursor pointer
			height em(30)
			width em(30)
			line-height em(30)
			text-decoration none
			font-size em(20)
			display inline-block
		a:hover
			color #eeeeee
			border-color #eeeeee
	.rights
		color white
		font-size em(13)
		font-weight 200
		padding em(10)