@import "kouto-swiss"

nav
	width 100%
	position fixed
	.container
		.logo
			padding em(12) em(8)
			font-size em(18)
			line-height em(20)
			height em(35)

		.nav-list
			border-top 1px solid #EDEDED;
			ul
				li
					a
						line-height em(20)
						text-transform uppercase
						text-align center
						font-weight 600
						position relative
						display block
						color #777777
						font-size em(12)
						text-decoration none
						padding em(35) em(15) 0

					.active
						color #36d7b7

					a:hover
						color #333333

		.nav_toogle-button
			float right
			margin-top em(-45)
			margin-right em(15)
			border-radius 8px
			width em(30)
			height em(30)
			border 1px solid #B9B9B9
			cursor pointer
			line-height 1.7

		.nav_toogle-button:before
			content: '|||'
			margin-left em(8.5)
			color #B9B9B9


+media-query(all, min-width 640px)
	.nav_toogle-button
		display none

	.nav-list
		float right
		margin-top em(-67)
		ul
			li
				float left
				a
					line-height em(20)
					text-transform uppercase
					text-align center
					font-weight 600
					position relative
					display block
					color #777777
					font-size em(12)
					text-decoration none
					padding em(40) em(15) 0