@import "kouto-swiss"
header
	position fixed
	background-color #ffffff
	z-index 100
	width 100%
	top 0
	left 0
nav
	gs('fluid', 12)
	border-bottom 1px solid #eeeeee
	.container
		col(12)

	.logo
		col(5)
		padding em(12) em(5)

	.menu-toggle-button
		col(1)
		offset(5)
		padding em(12) em(10)
		float right

	.menu-toggle-button::before
		content '|||'
		float right
		display block
		border em(1) solid #C8C8C8
		background-color #F5F5F5
		color #C8C8C8
		border-radius em(6)
		height em(35)
		width em(38)
		box-sizing border-box
		cursor pointer
		padding-top em(7)
		padding-left em(11)


	.navbar
		col(12)
		border-top 1px solid #888888
		display none
		a
			width 100%
			display block
			padding em(15)
			text-decoration none
			color #888888
			text-align center
			font-weight bold

		a.active
			color #36d7b7

		a:hover
			color #333333

+media-query( all, min-width 760px)
	nav
		gs('fluid', 12)
		.container
			col(10)
			offset(1)
		.logo
			col(3)
		.menu-toggle-button
			display none
		.navbar
			col(8)
			padding 0
			margin 0
			margin-top em(12)
			border none
			float right !important
			ul
				float right !important
			li
				float left
				a
					padding em(17)
					line-height 0
					font-size em(16)

+media-query ( all, min-width 960px )
	nav
		gs('fixed')