@import "kouto-swiss"

nav
	width 100%
	position fixed
	.container
		.logo
			padding em(12) em(8)
			font-size em(18)
			line-height em(20)
			height em(35)

		.nav-list
			border-top 1px solid #EDEDED;
			ul
				li
					a
						line-height em(20)
						text-transform uppercase
						text-align center
						font-weight 600
						position relative
						display block
						color #777777
						font-size em(12)
						text-decoration none
						padding em(35) em(15) 0

					.active
						color #36d7b7

					a:hover
						color #333333