.lorem-leader
	background-color #eeeeee
	padding em(20)
	clearfix()
	.container
		gs('fluid', 12)
	.thesis
		col(8)
		offset(2)
	.icon-wrap
		col(12)
		margin em(20) auto
		text-align center
		i
			border 1px solid #555555
			padding em(10)
			color #555555
			border-radius em(2.6)
			font-size 2.5em
	h3
		text-align center
		font-size em(28)
		font-weight 200
		padding-bottom em(12)
		border-bottom 1px solid #555555
	p
		margin em(10)
		font-weight 200
		text-align center

+media-query( all, min-width 960px )
	.lorem-leader
		.container
			gs('fixed')
		.thesis
			col(3)