.photos
	.container
		gs('fluid', 12)
	.photo-banner
		font-weight 200
		color #3c3c3c
		col(12)
		h2
			font-size em(36)
			padding em(7) 0
			padding-bottom 0
		h4
			font-size em(16)
			padding em(15) 0
			border-bottom 1px solid #3c3c3c
			text-transform lowercase
		p
			padding em(15) 0
			font-size em(15)
	.carousel-block
		col(12)
		img
			max-width 100%
			margin 0 auto

+media-query( all, min-width 900px)
	.photos
		.container
			gs('fixed', 12)
		.photo-banner
			col(5.8)
			padding em(15)
			box-sizing border-box
			p
				font-size em(16)
				padding em(3)
		.carousel-block
			col(5.8)
			padding em(15)
			box-sizing border-box