.pricing_tables
	padding em(20) 0
	._container
		gs('fluid', 12)
	h2
		text-align center
		margin-top 0
		font-weight 300
		font-size em(36)
	p.subHeader
		font-weight 300
		font-size em(21)
		margin em(15) 0 em(20)
		text-align center

	.p_table
		col(12)
		padding em(20) em(10) em(10)
		text-align center
		h3
			text-align center
			line-height 2
			color #fff
			font-weight 500
			font-size em(24)
			background-color rgba(0, 0, 0, 0.1)
		p.price
			text-align center
			color #3c3c3c
			border-color #3c3c3c
			font-size em(30)
			display inline-block
			margin em(10) 0
			border 1px solid
			padding em(7) em(12)
			border-radius em(3)
		ul
			li:first-child
				border-top-left-radius em(4)
				border-top-right-radius em(4)
			li:last-child
				border-bottom-left-radius em(4)
				border-bottom-right-radius em(4)
			li:nth-child(even)
				background-color #eeeeee
			li
				clearfix()
				position relative
				display block
				padding em(12) em(15)
				background-color #fff
			p
				margin-bottom 0
				font-size em(15)
				float left
				font-weight 300
			.fa-minus
				color #999

	.basic
		background-color #555
	.standart
		background-color #cfcfcf
	.advance
		background-color #e74c3c
	.professional
		background-color #fd8a21