@import "kouto-swiss"

.promo::after
	content ''
	width 100%
	height 100%
	display block
	position absolute
	background-color rgba(45, 157, 231, 0.4)
	top 0
	z-index 0

.promo
	margin-top 60px
	background url(/images/promo.jpg)
	background-repeat no-repeat
	background-position center center
	position relative
	._container
		gs('fluid', 12)
		position relative
		z-index 3
	.promo-baner
		col(12)
		color white
		text-align center
		h1
			font-size em(38)
			padding em(7) 0
			font-weight 300
			border-bottom 1px solid white
			i
				color #36d7b7
		b
			font-weight 600
		p
			font-size em(15)
			padding em(10) 0
		p.bold
			font-weight bold
	.promo-form
		background-color rgba(0, 0, 0, 0.1)
		col(11)
		offset(0.5)
		margin-top em(20)
		margin-bottom em(20)
		input, select, button
			col(11)
			offset(0.5)
			margin-top em(15)
			border-radius em(7)
			box-sizing border-box
			padding em(10)
			background-color rgba(0, 0, 0, 0.1)
			border 1px solid #FFFFFF
			color white
			font-size em(18)
			-webkit-appearance none
			outline none
		
		option
			color black
		button
			margin-bottom em(15)
			cursor pointer
		
		button:hover
			background-color white
			color rgba(0, 0, 0, 0.9)

+media-query( all, min-width 1200px )
	.promo
		._container
			gs('fixed', 12, 80px)
		.promo-baner
			col(6)
			text-align left
			padding-top em(30)
		.promo-form
			col(4.3)
			offset(1.7)
			margin-top em(20)
			margin-bottom em(20)