.speakers
	font-weight 300
	.container
		gs('fluid')
	.speakers-header
		col(12)
		text-align center
		padding em(20) 0
		h2
			font-size em(32)
		p
			margin em(10) 0
			font-size em(18)
	.speakers-body
		col(12)
	.speaker
		col(7)
		offset(2.5)
		margin-top em(10)
		img
			max-width 100%
			border-radius 50%
			padding em(15)
			box-sizing border-box
			border 1px solid #eeeeee
			transition border-color 0.5s ease-out 0.1s
			cursor pointer
		img:hover
			border-color #333333
		h3
			font-size em(16)
			font-weight 500
			text-align center
			padding em(17)
			padding-bottom em(10)
		p
			font-size em(16)
			text-align center
			padding em(13)
			padding-top 0

+media-query( all, min-width 800px )
	.speakers
		.speaker
			col(5)
			offset(0.75)

+media-query( all, min-width 960px )
	.speakers
		gs('fixed', 12)
		.speaker
			col(3)
			offset(0.75)
