.video
	.container
		gs('fluid', 12)
		row()
		col(12)
		.video-content
			border-radius 3px
			background-color #FFF
			border 1px solid #eeeeee
			.video-container
				padding-top: 56.25%;
				width 100%
				position relative
				padding 0
				iframe
					position absolute
					top 0
					left 0
					size 100%