.video
	background-color #eeeeee
	gs('fluid', 12)
	padding em(10)
	box-sizing border-box
	.container
		col(12)
	.video-content
		background-color #fff
		col(12)
		margin 0
		padding em(18)
		box-sizing border-box
	.video-container
		width 100%
		position relative
		padding 0
		padding-top 56.2%
		iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%

	.video-banner
		col(12)
		font-weight 200
	.video-banner__header
		
		h2
			font-size em(36)
			padding em(7) 0
			padding-bottom 0
			color #3c3c3c
		h4
			padding em(15) 0
			border-bottom 1px solid #3c3c3c
			text-transform lowercase
	.video-banner__body
		p
			padding em(10) 0
			color #3c3c3c
			font-size em(15)

+media-query( all, min-width 960px )
	.video
		padding em(25) 0
		.container
			col(11)
			offset(0.5)
		.video-content
			col(6)
		.video-banner
			col(6)
			padding em(20)
			box-sizing border-box
			p
				font-size em(16)
				padding em(3)