.video
	background-color #eeeeee
	gs('fluid', 12)
	padding em(30)
	box-sizing border-box
	.container
		col(11)
		offset(0.5)
	.video-content
		background-color #fff
		col(12)
		margin 0
		padding em(20)
		box-sizing border-box
	.video-container
		width 100%
		position relative
		padding 0
		padding-top 56.2%
		iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%